body{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.qr-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #EAF2FD;
    margin: 7rem 7rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.qr-img{
    width: 50%;
    border-radius: 2rem;
}

.qr-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5rem;
    padding: 1.2rem;
    border-radius: 2rem;
    width: 20%;
}

.qr-img{
    width: 100%;
    border-radius: 2rem;
}

.qr-title{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 1000;
    font-size: 25px;
    text-align: center;
}

.qr-text{
    color: gray;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18.5px;
}




footer{
    text-align: center;
    background-color: #0A3871;
    padding: 20px;
}

.img-footer{
    border-radius: 6px;
    height: 60px;
    width: auto;
    margin: 0 10px;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}

/* FORMATO DESKTOP */

@media screen and (min-width: 998px) {

    body{
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }
    
    .qr-section{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #EAF2FD;
        margin: 7rem 7rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    
    .qr-img{
        width: 50%;
        border-radius: 2rem;
    }
    
    .qr-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 5rem;
        padding: 1.2rem;
        border-radius: 2rem;
        width: 20%;
    }
    
    .qr-img{
        width: 100%;
        border-radius: 2rem;
    }
    
    .qr-title{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: 1000;
        font-size: 25px;
        text-align: center;
    }
    
    .qr-text{
        color: gray;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 18.5px;
    }
    
}

/*FORMATO CELULAR*/

@media screen and (max-width:480px){
    
    .qr-section{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #EAF2FD;
        margin: 2rem 2rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    
    .qr-img{
        border-radius: 2rem;
    }
    
    .qr-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 6.5rem;
        padding: 1.2rem;
        border-radius: 2rem;
        width: 80%;
    }
    
    .qr-img{
        width: 100%;
        border-radius: 2rem;
    }
    
    .qr-title{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: 1000;
        font-size: 25px;
        text-align: center;
    }
    
    .qr-text{
        color: gray;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 18.5px;
    }
}